body, html {
    width: 100%;
    height: 100%;
    background-color: #949094 !important;
}

.text-875 {
    font-size: 0.875rem;
}

.rounded-ends > * {
    border-radius: 0 !important;
    margin-top: -1px;
    position: relative;
    z-index: 0;
    display: block;
}

.rounded-ends > textarea {
    resize: vertical;
}

.rounded-ends > *:focus {
    z-index: 8;
}

.rounded-ends > *:first-child {
    border-radius: 5px  !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    margin-top: 0;
}

.rounded-ends > *:last-child {
    border-radius: 5px  !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.is-invalid {
    z-index: 8 !important;
}