<IfModule mod_rewrite.c>
    Options -Multiviews
    RewriteEngine On
    RewriteBase PATH/TO/PUBLIC
    ReWriteCond %{REQUEST_FILENAME} !-d
    ReWriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>